{% load i18n %}
<div class="map-title">{% trans "We have distributors in <b>21 countries</b>. To locate the one nearest to you, please contact us." %}</div>
<div class="customer-map">
    <img src="//chart.googleapis.com/chart?chs=500x400&cht=map:auto::fixed=-60,-170,84,178&chco=B3BCC0|F56E00|F56E00|F56E00|F56E00|F56E00|F56E00|F56E00|F56E00|F56E00|F56E00|F56E00|F56E00|F56E00|F56E00|F56E00|F56E00|F56E00&chld=AU|AT|BE|BR|CA|CL|FI|FR|DE|NL|NZ|NO|RU|ES|SE|BG|GB|US|UY|AR|EE|IE&chdl=Argentina|Australia|Austria|Belgium|Brazil|Canada|Chile|Estonia|Finland|France|Germany|Ireland|Netherlands|New Zealand|Norway|Russian Federation|Spain|Sweden|United Kingdom|United States|Uruguay" alt="" />
</div>
